body{
    background-color: #8594e4;
}
h1 {
    color: #8594e4;
    margin: 0%;
}
textarea {
    background-color: #d5def5;
    width: 80%;
    border: none;
    border-radius: 10px;
}
textarea:focus-visible{
    border: none;
}
.container{
    background-color: #430f58;
    width: 40vw;
    height: 30vh;
    margin-top: 200px;
    margin-left: 200px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 0.5px black;

    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px
}
.passwordBox{
    width: 60%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #d5def5;;

}
.passwordBox img{
    height: 60%;
    width: 60%;
    margin-right: 2%;
    background-color: #d5def5;
}
.copy{
    background-color: #d5def5;
    border: none;

    display: flex;
    justify-content: end;
}
.generatePasswordBtn{
    border-radius: 10px;
    height: 5vh;
    width: 60%;
    background-color: #6643b5;
    border: none;
    color: #d5def5;

}